<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="intro">
      <h3>Please add your solution:</h3>
    </div>
    <form role="form" novalidate name="questionForm">
      <div class="form-group">
        <label for="question_text">Instructions:</label>
        <br>
        <p>{{ questionCtrl.questions[1].question_text }}</p>
      </div>
      <div class="form-group">
        <label for="question_text">Your solution:</label>
        <textarea rows="5" type="text"
        class="form-control"
        ng-model="questionCtrl.answer">
      </textarea>
    </div>
    <div class="form-group">
      <label for="rspec_test">Result:</label>
      <textarea readonly rows="1" type="text"
      class="form-control"
      ng-model="questionCtrl.result" required >
    </textarea>
  </div>
  <div class="actions">
    <a ng-href="/#/" class="btn btn-default">Back</a>
    <div class="button-group pull-right">
      <div class="button-submit">
        <button class="btn btn-primary" ng-click="questionCtrl.submit2()" ng-disabled="!questionForm.$valid">Submit</button>
      </div>
      <div class="button-try">
        <button class="btn btn-primary" ng-click="questionCtrl.try1()">Try it</button>
      </div>
    </div>
  </div>
</form>
</div>
</div>