<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <header class="page-header intro">
      <h2>Applicant</h2>
    </header>
    <form role="form" ng-submit="appCtrl.create()" novalidate name="applicantForm">
      <div class="form-group" ng-class="{'has-error': !applicant.Form.name.$valid}">
        <label for="name"></label>
        <input type="text" name="name" ng-model="appCtrl.name" class="form-control" required />
      </div>
      <div class="form-group" ng-class="{'has-error': !applicantForm.name.$valid}">
        <label for="email"></label>
        <input type="text" name="email" ng-model="appCtrl.email" class="form-control" required />
      </div>
      <div class="actions">
        <a ng-href="#applicants" class="btn btn-default">Back</a>
        <div class="pull-right">
          <button class="btn btn-primary" ng-click="submitBook()" ng-disabled="!applicantForm.$valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>