<section class='add-applicant' ng-controller="ApplicantController as appCtrl">
    <div class="container">
        <h1>Add Applicant</h1>

         <form ng-submit="appCtrl.create()">


        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Name"
            ng-model="appCtrl.name"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Email"
          ng-model="appCtrl.email"></input>
        </div>
                    <div class="control-group">
                <div class="controls">
                    <a ng-click="appCtrl.cancel()" data-match-route="/applicants" href="#applicants" class="btn btn-small">Cancel</a>
                    <input type="submit" id="submit" data-match-route="/applicants" href="#applicants" class="btn btn-small btn-primary">
                </div>
            </div>

       <!-- <input type="submit" id="submit" ng-href="#/applicants" value=Submit" "/>
      </form> -->

        <!-- <form ng-submit="appCtrl.create()" novalidate="novalidate" class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputName">Name</label>
                <div class="controls">
                    <input type="text" id="inputName" ng-model="appCtrl.name"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" ng-model="appCtrl.email"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <a ng-click="appCtrl.cancel()" data-match-route="/applicants" href="#applicants" class="btn btn-small">Cancel</a>
                    <a  data-match-route="/applicants" href="#applicants" class="btn btn-small btn-primary">Create</a>
                </div>
            </div>
        </form> -->
    </div>

