<div class="site-wrapper" >
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">Thank you, Yev!</h1>
        <h3 class="lead">We will contact with you soon.</h3>
      </div>
    </div>
  </div>
</div>
