  <nav class="navbar navbar-default" role="navigation" bs-navbar >
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ronin</a>
    </div>
    <ul ng-show="checked" class="nav navbar-nav">
      <li data-match-route="/applicants"><a href="#applicants">Applicants</a></li>
      <li data-match-route="/tests"><a href="#tests">Tests</a></li>
      <li data-match-route="/questions"><a href="#questions">Questions</a></li>
    </ul>

    <div class="navbar-brand login">
      <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"> Admin
    </div>
  </nav>
