<section class='applicant' ng-controller="ApplicantController as appCtrl">
	<div class='results'>
		<div class='container'>
				<div id="id" class="col-md-2">ID</div>
				<div id="name" class="col-md-4">Name</div>
				<div id="email" class="col-md-4">Email</div>
				<div id="test_id" class="col-md-1">Test ID</div>
				<div id="score" class="col-md-1">Score</div>
			
			<ul ng-repeat="applicant in appCtrl.applicants">
				<div id="name" class="col-md-4">{{applicant.name}}</div>
				<div id="email" class="col-md-4">{{applicant.email}}</div>
				<div id="test_id" class="col-md-2">{{applicant.test_id}}</div>
				<div id="score" class="col-md-2">{{applicant.score}}</div>
			</ul>
		</div>
	</div>
</section>
