<section class='applicant'>
	<div class='results'>
		<div class='container'>
			<div class="col-md-2">ID</div>
			<div class="col-md-4">Name</div>
			<div class="col-md-4">Email</div>
			<div class="col-md-1">Test ID</div>
			<div class="col-md-1">Score</div>
		</div>
	</div>
</section>