/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap";


html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

img {
  border: 0;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Button */

.button {
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5rem;
  padding: 2rem 2.5rem;
  min-width: 5em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button:focus,
.button:hover, button:focus {
  background: rgba(255, 255, 255, 0.2);
  outline: 0;
  color: #fff;
  text-decoration: none;
}

.button--horizontal {
  color: #ffffff;
  border-color: #ffffff;

}

.button--horizontal:hover {
  background: rgba(255, 255, 255, 0.2);
  outline: 0;
}

/* Header */

.image-brand img {
  height: 60px;
  padding: 10px;
  margin-left: 35px;
  margin-right: 25px;
}

nav {
  display: block;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid #ddd;
}

a {
  color: #003340;
  transition: color 0.1s linear;
}

.nav>li>a {
  font-size: 15px;
  line-height: 20px;
  padding: 20px 12px;
}

.navbar-right {
  float: right;
  margin-right: 30px;
}


/* Links */

a .button,
a:focus .button,
a:hover .button {

}


p.lead {
  text-align: center;
}

.cover-heading {
    font-family: "futura-pt", "Futura", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 63px;
    color: #ffffff;
    text-align: center;
}

.lead {
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    text-align: center;
}



table, td, th, tr  {
  color: #000;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;

}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  background: url(http://assets.makersacademy.com/images//backgrounds/B5.jpg) no-repeat center center fixed;
  background-color: #00333F;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper2 {

  background-color: #CCCCCC;

  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */

.inner {
  padding: 20px;
}



/*
 * Cover
 */

.cover {
  padding: 20px 20px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 750px;
  }
}



