/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap";


 nav {
 	padding-left: 45px;
 	padding-top: 12.5px;
 	height: 75px;
 	background-color: #FFF;
 	vertical-align: middle;
 	position: fixed;
 	top: 0px;
 }

 .credits {
 	position: absolute;
 	bottom: 10px;
 	text-align: right;
 	right: 50px;
 }

 footer {
 	background-color: rgba(255,255,255, 1);
 	border-top: 1px dotted rgba(205,205,201, 1);
 	padding: 23px 10px 35px 45px;
 	text-align: left;
 	font-family: 'Roboto', sans-serif;
 	font-size: 14px;
 	position: fixed;
 	width: 100%;
 	bottom: 0px;
 }

 .img-ronin {
 	width: auto;
 	height: 50px;
 }

 .img-small {
 	border-radius: 25px;
 	width: auto;
 	height: 300px;
 	-webkit-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
 	-moz-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
 	box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
 }