<!DOCTYPE html>
<html ng-app="autoPair">
<head>
  <title>Auto-Pair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="javascript/jquery.min.js"></script>
  <script src="javascript/bootstrap.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
